{{> header }}

      <div class="container-fluid">
        <div class="col-md-12">
            <div class="jumbotron paddingBottom">
              <h1>Find a brewery!</h1>
              <p>Then save it to your profile!</p>
                <form class="">
                  <div class="form-group">
                    <input name="theBeer" class="theBrew shorter form-control" placeholder="Find Breweries"/>
                  </div>
                  <button type="submit" name="submit" class="brew_search btn btn-default pull-right">Submit</button>
                </form>
            </div>
            <div class="col-md-12 col-sm-8">
              <div class= "row panel jumbotron" id="displayBrews"></div>
            </div>
        </div>
        <div class="push"></div>
      </div>
      <footer class="bs-docs-footer">
          <div class="container">
            <ul class="bs-docs-footer-links">
              <li><a href="https://github.com/chigurh86">GitHub</a></li>
              <li><a href="https://twitter.com/caos_creative">Twitter</a></li>
              <li><a href="https://obscure-forest-75107.herokuapp.com/index.html">Examples</a></li>
              <li><a href="https://obscure-forest-75107.herokuapp.com/index.html">About</a></li>
            </ul>
            <p>Designed and built by<a href="https://obscure-forest-75107.herokuapp.com/index.html" target="_blank"> Tony Caos</a></p>
            <p>Copyright &copy; 2017</p>
          </div>
      </footer>
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      <script type="text/javascript" src="./js/breweries.js"></script>
    </div> <!-- /container -->
  </body>
</html>
