{{> header}}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-9 col-md-12 main">
          <h1 class="padprofile">My Beers</h1>
            <div class="row placeholders">
              <div class="col-xs-6 col-sm-3 placeholder moveOver">
                <div class="displayDiv">
                </div>
              </div>
            </div>
          <h2 class="sub-header">Beer Details</h2>
          <h3 class="small-header">You've Tried</h3>
          <h5 id="howMany1"></h5>
          <table>
            <thead>
              <tr>
                <th>Beer Name</th>
                <th>Type</th>
                <th>Brewery</th>
              </tr>
            </thead>
          </table>
          <div class="table-responsive">
            <table class="table table-striped">
              <tbody class="topt">
              </tbody>
            </table>
          </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-9 col-md-12 main">
          <h3 class="small-header">Favorites</h3>
          <h5 id="howMany"></h5>
          <table>
            <thead>
              <tr>
                <th>Beer Name</th>
                <th>Type</th>
                <th>Brewery</th>
              </tr>
            </thead>
          </table>
          <div class="table-responsive">
            <table class="table table-striped">
              <tbody class="bottomt">
              </tbody>
            </table>
          </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-9 col-md-12 main">
          <h3 class="small-header"> Favorite Breweries</h3>
          <h5 id="brewMany"></h5>
          <table>
            <thead>
              <tr>
                <th>Brewery Name</th>
                <th>Location</th>
                <th>Active?</th>
              </tr>
            </thead>
          </table>
          <div class="table-responsive">
            <table class="table table-striped">
              <tbody class="brewt">
              </tbody>
            </table>
          </div>
    </div>
  </div>
</div>
<footer class="bs-docs-footer">
    <div class="container">
      <ul class="bs-docs-footer-links">
        <li><a href="https://github.com/chigurh86">GitHub</a></li>
        <li><a href="https://twitter.com/caos_creative">Twitter</a></li>
        <li><a href="https://obscure-forest-75107.herokuapp.com/index.html">Examples</a></li>
        <li><a href="https://obscure-forest-75107.herokuapp.com/index.html">About</a></li>
      </ul>
      <p>Designed and built by<a href="https://obscure-forest-75107.herokuapp.com/index.html" target="_blank"> Tony Caos</a></p>
      <p>Copyright &copy; 2017</p>
    </div>
</footer>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript" src="./js/mybeers.js"></script>
</div>
